<style>
  .container {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .value {
    padding: 10px;
    background-color: #8257E6;
    color: #FFFFFF;
    border-radius: 6px;
    width: 15px;
    text-align: center;
    text-decoration: none;
  }

  .level {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 450px;
  }

  .answers {
    display: flex;
    justify-content: space-between;
    width: 450px;
  }
</style>

<div class="container">
  <label>Olá, <strong>{{user.name}}</strong>! Tudo bem?</label>

  <h3>{{survey.title}}</h3>
  <br />
  <strong>{{survey.description}}</strong>

  <div class="level">
    <span>
      Pouco provável
    </span>
    <span>
      Muito provável
    </span>
  </div>

  <div class="answers">
    <a class="value" href="{{link}}/01?su={{surveyUserID}}">01</a>
    <a class="value" href="{{link}}/02?su={{surveyUserID}}">02</a>
    <a class="value" href="{{link}}/03?su={{surveyUserID}}">03</a>
    <a class="value" href="{{link}}/04?su={{surveyUserID}}">04</a>
    <a class="value" href="{{link}}/05?su={{surveyUserID}}">05</a>
    <a class="value" href="{{link}}/06?su={{surveyUserID}}">06</a>
    <a class="value" href="{{link}}/07?su={{surveyUserID}}">07</a>
    <a class="value" href="{{link}}/08?su={{surveyUserID}}">08</a>
    <a class="value" href="{{link}}/09?su={{surveyUserID}}">09</a>
    <a class="value" href="{{link}}/10?su={{surveyUserID}}">10</a>
  </div>

  <br />
  <br />

  <strong>Sua opniãoé muito importante para nós</strong>
  <h3>Equipe | <strong>NLW</strong></h3>
</div>